@{
}

<h2>About Us</h2>
<h4> This website is created to complete the final evaluation of Web Programming Course</h4>
<br>
<p>Abdullah Nasih Jasir 5025211111</p>
<p>Rayhan Almer Kusumah 5025211115</p>
<p>Al-Ferro Yudisthira Putra 5025211176</p>
