@model MovieStoreMvc.Models.Domain.Genre
@{
}

<form class="w-40" asp-action="Add" method="post">
    <h2 class="pb-10">Add Genre</h2>
    <div class="input-container">
        <label asp-for="GenreName" class="w-40">GenreName</label>
        <input type="text" class="input" asp-for="GenreName" style="box-shadow: 4px 4px black;">
    </div>
    <div class="message-box pd-x-28 error">
        <span asp-validation-for="GenreName"> </span>
    </div>

    @if (TempData["msg"] != null)
    {
        <div class="alert mb-1">
            @TempData["msg"]
        </div>
    }

    <div class="input-container">
        <button style="background-color: #607274; color:white; border-radius: 10px; padding: 10px 15px; margin:0 10px" type="submit">Save</button>
        <a style="background-color: #607274; color:white; border-radius: 10px; padding: 10px 15px; margin:0 10px" href="/Genre/GenreList">All records</a>
    </div>
</form>
